.min-height{
    
    min-height: 1000px;
    background-color:#0099ff ;
}
.projects {
    min-height: 500px;
    background-color: #d61821;
}
.jumbotron{
    padding: 5rem ;
    background-color: aqua;
}


.img-rounded {
    border-radius: 50%;
}

.img-cover {
    object-fit: cover;
    object-position: center;
}
.abcc{
 min-height: 500px;
}
.contact{
    min-height: 500px;
    background-color: 
    #42cbf5;
}
.bmw{
    min-height: 50px;
}
section{
    padding-top: 5rem;
}